body {
  background: linear-gradient(90deg, rgba(69, 8, 103, 1) 0%, rgba(0, 0, 0, 1) 37%, rgba(255, 0, 106, 1) 100%);
  text-align: center;
  color: white;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
 
h1 {
  font-size: 1rem;
  color: white;
  margin: 30px;
}

.CalcContainer {
  margin: auto;
  background-color: rgb(0, 0, 0);
  margin-top: 5%;
  height: 450px;
  width: 23%;
  border-radius: 20px;
  border: 1px solid white;
}

.Display {
  height: 30px;
  width: 80%;
  padding: 10px;
  line-height: 30px;
  text-align: right;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1.3em;
  color: rgb(46, 7, 68);
  margin: auto;
  margin-top: 10%;
  margin-bottom: 3px;
}

.ButtonContainer {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  font-size: 20px;
}

.CalcButtonNum {
  font-size: 25px;
  width: 21.5%;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  margin: 3px 1px;
  border: 0px solid white;
  
}

button {
  height: 40px;
  width: 35%;
  font-size: 0.7em;
  background-color: rgb(117, 114, 119);
  color: white;
  margin: 20px;
  border-radius: 10px;
  border: none;
}

.CalcButton:hover, button:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
  color: white;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.CalcButtonName {
  padding: 1.5%;
  width: 33%;
  font-size: 0.8em;
}

.CalcButtonName:hover {
  color: black;
}
